.body-About{
    background-image: url("../../Img/lamar.jpg");
    background-repeat: no-repeat;
    background-position: center;
    height:100%;
    background-size: cover;
}



.texts{
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}

.carousel-box{
   padding-top: 5vh;
   padding-bottom: 9vh;
}







 
    
 