.body{
    padding: 2em;
    background-image: url("../Img/lamar.jpg");
    width: 200vh;
}

.texts{
    display: flex;
    flex-flow: wrap;
    margin: 0 0 0 190px;
    
}

.people{
    display: flex;
    flex-flow: wrap;
    padding: 7em;
    margin: 0 0 0 260px;
}



 
    
 