.elementsNav{
  display: inline;
  margin: 0 0 0 700px;
}

.form-control{
  background-color: #282b2d;
  border-color: azure;

}

.nav-link{
  margin: 0 0 0 20px;
}

.navbar-brand{
  margin: 0 0 0 80px;
 
}

.btn.btn-outline-success{
  margin: 0 0 0 30px;
}

.me-2.form-control{
  padding: 0 0 0 400px;
  margin: 0 0 0 30px;

}

.navbar.navbar-expand-lg.navbar-dark.bg-dark{
  width: 200vh;
}