.navbar{
    background-color: rgb(48, 43, 43);
    padding: 1em;
}

.name{
    /*background-color: rgb(127, 255, 170);*/
    color: white;
}

.search-group{
    /*background-color: rgb(127, 255, 170);*/
    display: flex;
    align-items: center;
    padding: 0 0 0 4em;
}

.navbar-nav{
    /*background-color: rgb(127, 255, 170);*/
}

.nav-link{
    color:white;
}



