/* EventsCards.css */

.card {
  /* border-radius: 30px; */
  padding: 29px;
  margin: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: calc(33.33% - 20px); /* 33.33% del ancho del contenedor, con 20px de espacio entre las tarjetas */
  box-sizing: border-box; /* Incluye el padding y el borde en el ancho */
}

.card img {
  max-width: 200%;
  height: auto;
}

/* Estilos adicionales para el contenido de la tarjeta (texto) */
.card-content {
  text-align:end; /* Alinea el texto a la izquierda */
}

/* Resto de tu CSS */
.contenedor-botones {
  display: flex;
  flex-direction:row;
  align-items: flex-end;
  height: 100%; /* Asegura que el contenedor ocupe todo el alto disponible */
  padding: 15px 30px;
}

.contenedor-botones {
  margin-bottom: 10px; /* Agrega el espacio entre los botones y otros elementos si es necesario */
  

}

