.cardFeed {
    text-align: center;
  
    width: 500px;
    height: auto;
  
    margin-top: 10vh;
    margin-bottom: 4vh;
    margin-left: 1vh;
    margin-right: 1vh;
    padding: 2rem;
  
    border-radius: 10px;
  
    background-color: rgb(255, 255, 255, 0.4);
    backdrop-filter: blur(10px);
  }

  .sectionL{
    background-color: aqua;
    
  }

  .sectionR{
    background-color: bisque;
    
  }

  