.principal {
  background-image: url("../../Img/france-musique-chitarra-musica.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
}

.form-contact {

  margin-top: 80px;
  display: flex;
  flex-direction: column;
  width: 500px;
  min-width: 550px; /* Establecer el ancho mínimo */
  height: 700px;
  min-height: 600px; /* Establecer la altura mínima */
  gap: 1rem;
  padding: 3rem;
  border: 0px;
  border-radius: 1090px;
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(10px);
  
}

.control-aux {
  padding: 10px 20px;
  margin-bottom: 25px;
  border-radius: 10px;
  text-align: center;
  color: black;
}

:focus {
  outline: 2px solid chocolate;
  outline: 2px solid b;
}

#btn {
  background-color: rgba(0, 128, 0, 0.479);
}

.title-box {
  text-align: center;
}