.body-events {
  background-image: url("../../Img/EventsWallpaper.jpg");
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
 @keyframes gradient{
  0%{
    background-position: 0% 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0% 50%;
  }
 }
.events-box {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
}

.EventsCards {
  width: calc(33.33% - 20px);
  margin: 0 10px;
  box-sizing: border-box;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 20px;
}

