.body-events {
  background-image: url("../../Img/events.jpg");
  background-repeat: no-repeat;
  background-position: center;
  height:200vh;
  background-size: cover;
  text-align: center;

}

.events-box {
  width: calc(100% + 20px); /* Cambiamos el ancho para ocupar el 100% del contenedor más 20px de margen total (10px a la izquierda y 10px a la derecha) */
  display: flex;
  flex-wrap: wrap; /* Permite que las tarjetas se envuelvan a la siguiente línea si no caben en el ancho */
  margin: 0 -10px; /* Añadimos un margen negativo para contrarrestar el margen que se aplica a cada tarjeta */
}



/* Estilos adicionales para ajustar el diseño según tus necesidades */
